
body
{
font-family: 'Montserrat',  sans-serif;
}

.jumbotron
{
   
        background-image: url("Photo2.jpeg");
        background-size: cover;
        padding: 100px 0px 200px 0px;
        
       
   
}